html {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
}
body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  min-height: 100vh;
}
hr{
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  background: linear-gradient(19deg, #ce7676 0%,#110b79 100%);
  /* animation: gradient 5s infinite linear;  */
  background-size: 175%; 
  min-height: 100vh;
  
}

